
<h2>Gift Suggestions:</h2>



<div class="container">
	<div class="row">
        {{#each actualGiftData as |data|}}
			<div class="col-lg-4 mb-4">
				<div class="card h-100">
					<a href="{{productURL}}" target="_blank"><img class="card-img-top" src="{{productImage}}" alt="{{item}}" style="object-fit: contain"</a>

					<div class="card-body" >
						<h5 class="card-title">{{item}}</h5>
						<p class="card-text">
							Price: ${{price}}
						</p>
                    <div class="card-footer bg-white">
						<a href="{{productURL}}" target="_blank" class="btn btn-primary btn-sm">
							Buy
						</a>

						{{!-- <a href="#" class="btn btn-primary btn-sm">
                            Add to Wish List
					    </a> --}}

                    <div id="wish-btn">
                        <button type="button" id="save-Btn" class="btn btn-primary btn-sm">Add to Wish List</button>
                    </div>

                        {{!-- <button onClick="alert('Button was ')" type="button" id="wish-Btn" class="btn btn-primary btn-sm">Add to Wish List</button> --}}
                    
                    </div>
					</div>
				</div>
			</div>
        {{/each}}
    </div>
</div>


<script src="/js/giftSelection.js"></script>