
<h2>Gift Suggestion:</h2>
<div>
    <p>{{item}}</p>
    <p>Price: ${{price}}</p>
   
    <a href="{{productURL}}" target="_blank"><img src="{{productImage}}" alt="{{item}}" style="width:450px;height:450px;"></a>
    
    <button onclick="window.open('{{productURL}}', '_blank')" type="button" id="buy-Btn"class="btn btn-primary">Buy</button>

</div>
<div id="wish-btn">
        <button type="button" id="save-Btn" class="btn btn-primary">Add to Wish List</button>
</div>


<script src="/js/giftSelection.js"></script>